## Toronto Cruster Analysis

#scrape toronto data from wiki

In [14]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))

In [15]:
df = df[0]

In [16]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#Cleanning 'Not Assigned' Data

In [17]:
newdf = df

In [18]:
newdf = newdf[newdf.Borough !='Not assigned']

In [19]:
newdf.Neighbourhood.size

212

In [20]:
for i in range(newdf.Neighbourhood.size):
    if newdf['Neighbourhood'].values[i] == 'Not assigned':
        newdf['Neighbourhood'].values[i] = newdf['Borough'].values[i]

In [21]:
newdf.head(20)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern
14      M3B        North York   Don Mills North
15      M4B         East York  Woodbine Gardens
16      M4B         East York     Parkview Hill
17      M5B  Downtown Toronto           Ryerson
18      M5B  Downtown Toronto   Garden District
19      M6B        North York         Glencairn
22      M9B         Etobicoke        Cloverdale
23      M9B         Etobicoke         Islington
24      M9B         Etobicoke      Martin Grove
25      M9B         Etobicoke  Princess Gardens

#group Postcode and join Neighbourhood

In [22]:
Mdf = newdf.groupby(['Postcode','Borough'])['Neighbourhood'].agg(', '.join).reset_index()

In [23]:
Mdf.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [24]:
Mdf.shape

(103, 3)